/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}

.router{
  display: flex;
  flex-direction: column;
}
/* 
====== 
Navbar
======
*/
.navbar {
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-links {
  display: none;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--primaryColor);
}
.logo {
  width: 6rem;
  border-radius: 5px;
} 

@media screen and (min-width: 800px){
  .nav-links{
    display: flex;
  }
  .nav-toggle{
    display: none;
  }
}
/* 
====== 
Sidebar
======
*/

.sidebar-wrapper{
  position: fixed;
  top: 0;
  left: -100%;
  width: 75vw;
  height: 100vh;
  background: #304253;
  display: flex;
  justify-content: center;
  transition: 850ms;
  z-index: 2;
}

.sidebar-wrapper.show{
  left: 0;
  transition: 350ms;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.close-sidebar{
  align-self: flex-end;
  margin: 20px 20px;
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar-links{
  font-size: 1.2rem;
}

.sidebar-link{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.sidebar-link a{
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.sidebar-link a:hover{
  background-color: #1a83ff;
}

.sidebar-link>a>span{
  margin: 0 16px;
}



/* 
====== 
Hero
======
*/

.hero{
  background: #000;
  color: #fff;
  text-align: center;
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: var(--darkShadow)
}

/* 
====== 
Footer
======
*/

.footer{
  margin: 15px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  box-shadow: var(--darkShadow);
  justify-self: flex-end;
}

.footer-terms{
  color: #fff;
}

.footer-bottom{
  background: gray;
  color: #000;
  border-radius: 5px;
}

@media screen and (min-width: 800px){
  
}

/* 
====== 
Home
======
*/

.page-center{
  margin: 15px;
  box-shadow: var(--lightShadow);
  padding: 5px;
  background-color: #fff;
}

.main{
  display: flex;
  flex-direction: column;
}

.main-portfolio{
  text-align: center;
  padding: 30px 15px;
  height: 100%;
}

.main-portfolio > h3{
  margin-top: 15px;
  font-size: 25px;
}

.main-portfolio > p{
  font-size: 20px;
  font-weight: 400;
}

.welcome-text{
  font-size: 20px;
  background-color: rgba(83, 75, 75, 0.1);
  width: 75%;
  margin: 30px auto;
  padding: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.welcome-image{
  background: url(./images/kids-2408614_1280.jpg);  
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 15px;

}

.welcome-image > *{
  color: #fff;
}

.welcome-image > h3{
  font-size: 20px;
  width: 25rem;
  margin-top: 10px;
}
.welcome-image > p{
  font-size: 20px;
  width: 20rem;
}
.portfolio-text{
  text-align: center;
}

.doings{
  margin: 30px;
  width: 350px;
  text-align: left;
}

.doings > h3{
  font-size: 25px;
}

.doings > p{
  font-size: 20px;
}

.main-information{
  display: none;
}

.single-portfolio{
  background-color: #443737;
  color: #fff;
  transition: var(--mainTransition);
  padding: 10px;
  margin-bottom: 10px;
}

.portfolios{
  cursor: pointer;
  transition: all 0.5s;
}

.portfolios :hover{ 
    transform: scale(1.02);
}

.single-portfolio > h3{
  font-size: 25px;
}

.single-portfolio > p > span{
  font-size: 20px;
  font-weight: bold;
}

.single-portfolio > p {
  font-size: 20px;
  
}

@media screen and (min-width: 800px) {
  .welcome-text{
    font-size: 25px;
  }
  .portfolios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .single-portfolio{
    padding: 10px;
  }
  
  .main-information{
    display: flex;
    justify-content: space-evenly;
  }
  .welcome-image{
    height: 804px;
  }
  .welcome-image>h3 {
    font-size: 30px;
    width: 40rem;
    margin-top: 10px;
  }
  
  .welcome-image>p {
    font-size: 30px;
    width: 25rem;
  }
  .doings{
    margin: 30px;
    width: 500px;
  }
  
  .doings > h3{
    font-size: 30px;
  }
}

.main-information{
  margin: 15px;
}

.information-btn{
  margin: 5px 0;
}

/* 
====== 
About
======
*/

.about-page{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-about{
  width: 75%;
  background-color: #443737;
  color: #fff;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
}

.main-about > h2{
  font-size: 25px;
}

.main-about > p{
  font-size: 20px;
}

.about-focus {
  margin-top: 20px;
}

.about-focus > h3{
  font-size: 30px;
}

.about-mission{
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.article > h4{
  font-size: 20px;
}

.article > p{
  font-size: 20px;
}

.mission-img{
  border-radius: 10px; 
  margin-bottom: 1rem;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
  align-self: center;
}

.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.mission{
  margin: 15px;
  padding: 10px;
  
}

.article{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

.article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

.who-we-are{
  text-align: left;
  margin-top: 40px;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.who-we-are >*{
  width: 75%;
}

.who-we-are > h3{
  font-size: 30px;
}

.who-we-are > p{
  font-size: 20px;
}

.about-service{
  margin: 100px 0;
}

.services>h4 {
  border: #000 solid 2px;
  font-size: 20px;
  text-align: center;
  width: 100px;
  border-radius: 5px;
  transition: var(--mainTransition);
}

.services>h4:hover{
  background-color: #000;
  color: #fff;
}




@media (min-width: 800px) {
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}

.about-service{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-icons{
  font-size: 50px;
}

.services{
  margin: 0 20px;
}

.services > h4{
  font-size: 20px;
}

.who-we-serve{
  text-align: center;
  display: flex;
}

.about-conclusion{
  max-width: 350px;
  background: var(--offWhite);
  border-radius: 30px;
  box-shadow: var(--darkShadow);
  padding: 2rem 1rem;
  margin: 3rem auto;
}

.about-conclusion >h3{
  font-size: 30px;
  color: #000;
  border-radius: 5px;
}

.conclusion {
  margin: 30px;
  text-align: left;
}

.conclusion>h3 {
  font-size: 30px;
}

.conclusion>h4 {
  font-size: 20px;
  margin-bottom: 1px;
  color: #00000080;
}

.conclusion>p {
  font-size: 20px;
}

@media screen and (min-width: 800px) {
  .about-icons{
    font-size: 100px;
  }
  
  .services>h4 {
    border: #000 solid 2px;
    font-size: 20px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    transition: var(--mainTransition);
  }
  .services{
    margin: 0 50px;
  }
  .about-conclusion{
    max-width: var(--maxWidth);
    border-radius: 30px;
    box-shadow: var(--darkShadow);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
  }
}


/* 
====== 
Submenu
======
*/

.submenu {
  background-color: #443737;  color: #fff;
  box-shadow: var(--dark-shadow);
  display: none;
  padding: 1.5rem;
  margin-top: 40px;
  border: #000 solid;
  border-radius: var(--radius);
  width: 300px;
  font-size: 20px;
  font-weight: 400;
  transition: var(--mainTransition);
}

.submenu.show {
  display: block;
}

@media screen and (min-width: 800px) {
  .submenu{
    width: 800px;
  }
}

/* 
====== 
Register
======
*/

.form {
  width: 90vw;
  max-width: var(--maxWidth);
  background: var(--offWhite);
  border-radius: var(--borderRadius);
  box-shadow: var(--darkShadow);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.basic-single{
  margin-bottom: 15px;
}
  
/* 
  ====== 
  Alert
  ======
  */

  .alert-danger{
    background-color: #bd0303;
    color: #fff;
    margin-bottom: 20px;
    padding: 7px;
    width: 150px;
    border-radius: 7px;
  }
  .alert-success{
    background-color: #008000;
    color: #fff;
    margin-bottom: 20px;
    padding: 7px;
    width: 150px;
    border-radius: 7px;
  }

/* 
  ====== 
  Contact
  ======
  */
  
  .contact-form {
    width: 100%;
    margin: 0;
  }

.contact-container {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
  padding: 20px;
}

.contact-info {
  font-family: 'Times New Roman', Times, serif;
}

.contact-info h3,
h5 {
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (min-width:900px) {
  .contact-container {
    grid-template-columns: 1fr 450px;
    align-items: center;
  }
}

  /* 
  ====== 
  Managers
  ======
  */

  .managers{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .manager-img{
    width: 200px;
    margin-left: 30px;
  }

  .single-manager{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
  }

  .manager-page{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

